.body{
  font-family: 'Open Sans', sans-serif;
  background-color: #9C835F;
  width: 100vw;
  height: 100vh;
  overflow: auto
}

.custom-back-button{
  color: #724C21;
}

.custom-logo{
  margin-left: auto;
  margin-right: auto;
  width: 4em;
}

.custom-game-title{
  color: #F9B23D;
}

.custom-game-section{
  position: relative;
  top: 5vh
}

.custom-vs-background{
  width: 12rem;
}

.custom-vs-text{
  color: #BD0000;
  font-size: 4rem;
}

.custom-green-darker-vs-box{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7rem;
  
  background-color: #035B0C;
  color: #FFFFFF;
  font-size: 2rem;
  transform: rotate(-20deg);
  border-radius: 5%;
}

.custom-green-vs-box{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7rem;
  
  background-color: #4C9653;
  color: #FFFFFF;
  font-size: 2rem;
  transform: rotate(-20deg);
  border-radius: 5%;
}


.custom-game-player-name{
  width: 8rem;
}

.custom-choice{
  width: 4em;
}

.custom-choice-background{
  display: flex;
  align-items: center;
  justify-content: center;

  width: 8rem;
  height: 8rem;
}

.custom-selected{
  background-color: #C4C4C4;
  border-radius: 10%;
}


.play-game {
  background-image: url('../public/img/game/background-1.jpg');
  background-size: cover;
  width: 100vw;
  height: 100vh;
}



.button {
  width: 200px;
}